<% include header %>
<% if(typeof deleteErrorMsg !== 'undefined' && deleteErrorMsg) { %>
    <div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= deleteErrorMsg %></div>
<% }else if(typeof deleteSuccessMsg !== 'undefined' && deleteSuccessMsg) { %>
    <div class="alert alert-success alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= deleteSuccessMsg %></div>
<% }else if(typeof insertSuccessMsg !== 'undefined' && insertSuccessMsg) { %>
    <div class="alert alert-success alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= insertSuccessMsg %></div>
<% }else if(typeof inseretErrorMsg !== 'undefined' && inseretErrorMsg) { %>
    <div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= inseretErrorMsg %></div>
<% }else if(typeof updateSuccessMsg !== 'undefined' && updateSuccessMsg) { %>
    <div class="alert alert-success alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= updateSuccessMsg %></div>
<% }else if(typeof updateErrorMsg !== 'undefined' && updateErrorMsg) { %>
    <div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= updateErrorMsg %></div>
<% } %>
<% if(wholeArray.length) { %>
    <% wholeArray.forEach(function(entry)  { %>
    <div class="panel panel-default">
        <div class="panel-heading">
                <a href="/remove/<%= entry.id %>"><span class="btn btn-danger btn-xs pull-right" style="font-weight: bold; margin-left: 10px; font-size: 12px"><i class="fa fa-trash"></i> Delete </span></a>
            <a href="/edit/<%= entry.id %>"><span class="btn btn-success btn-xs pull-right" style="font-weight: bold; margin-left: 10px; font-size: 12px"><i class="fa fa-pencil"></i> Edit </span></a>
            <div class="muted pull-right"><%= entry.published %></div>
            <%= entry.title %>
        </div>
        <div class="panel-body">
            <%= entry.content %>
        </div>
    </div>
    <% }) %>
<% }else { %>
    <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18px; font-weight: 600;">No entries! </span><a href="/newEntry" class="btn btn-primary">Add Entry</a>
<% } %>


<% include footer %>